.green  {color: brown; background-color: aquamarine; border: 5px dotted blue;}
.grey   {color: rgb(74, 74, 138); background-color: rgb(163, 163, 48); border: 5px dotted green}
.black  {color: blueviolet; background-color: antiquewhite; border: 5px dotted blueviolet;}
.newblue{color: aquamarine; border: 5px dotted}